<section class="table-container">
  <table mat-table [dataSource]="getData">
    <ng-container *ngFor="let column of getDisplayedColumns; index as colIndex" [matColumnDef]="column">
      <th mat-header-cell *matHeaderCellDef>
        {{ getColumnsTranslations[colIndex] | translate }}
      </th>

      <td mat-cell *matCellDef="let element">
        {{ element[column] }}
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="getDisplayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: getDisplayedColumns;"></tr>
  </table>
</section>
