@import '../variables/color.scss';

.mat-mdc-text-field-wrapper {
  background-color: $light-gray;
  border-radius: 4px !important;
}

.mdc-notched-outline__leading,
.mdc-notched-outline__notch,
.mdc-notched-outline__trailing {
  border-color: #373737;
}

.mdc-text-field--invalid:not(.mdc-text-field--disabled) .mdc-notched-outline__leading,
.mdc-text-field--invalid:not(.mdc-text-field--disabled) .mdc-notched-outline__notch,
.mdc-text-field--invalid:not(.mdc-text-field--disabled) .mdc-notched-outline__trailing {
  border-color: $red !important;
}

.mdc-floating-label {
  color: $orange !important;
}

.mdc-text-field--outlined:not(.mdc-text-field--disabled) .mdc-text-field--focused .mdc-notched-outline_leading,
.mdc-text-field--outlined:not(.mdc-text-field--disabled) .mdc-text-field--focused .mdc-notched-outline_notch,
.mdc-text-field--outlined:not(.mdc-text-field--disabled) .mdc-text-field--focused .mdc-notched-outline_trailing {
  border-color: rgb(255, 0, 0) !important;
}

.mat-mdc-form-field-required-marker {
  color: $red !important;
}

.suffix {
  font-weight: 400;
  margin-right: 1rem;
  font-size: 25px;
  color: $orange;
}
