@import '../variables/color.scss';

.mat-mdc-tab-ripple {
  border-bottom: 2px solid $light-gray;
}

.mat-mdc-tab-body-content, .mat-mdc-tab-body,.mat-mdc-tab-body-wrapper {
  height: 100% !important;
}

.mat-mdc-tab-group {
  --mdc-tab-indicator-active-indicator-color: rgba(255, 166, 0, 0) !important;
  --mat-tab-header-disabled-ripple-color: orange !important;
  --mat-tab-header-pagination-icon-color: orange !important;
  --mat-tab-header-inactive-label-text-color: rgb(83, 83, 83) !important;
  --mat-tab-header-active-label-text-color: $whiteRGB !important;
  --mat-tab-header-active-ripple-color: orange !important;
  --mat-tab-header-inactive-ripple-color: orange !important;
  --mat-tab-header-inactive-focus-label-text-color: rgb(83, 83, 83) !important;
  --mat-tab-header-inactive-hover-label-text-color: rgb(83, 83, 83) !important;
  --mat-tab-header-active-focus-label-text-color: $whiteRGB !important;
  --mat-tab-header-active-hover-label-text-color: $whiteRGB !important;
  --mat-tab-header-active-focus-indicator-color: rgba(255, 166, 0, 0) !important;
  --mat-tab-header-active-hover-indicator-color: rgba(255, 166, 0, 0) !important;
}

.mat-tab-content {
  padding-top: 5%;
}
