@import '../../../../../scss/variables/color.scss';

.dialog-header {
  width: 100%;
  margin-bottom: 3rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  column-gap: 2.5%;

  .icon-selector {
    width: 120px;
    height: 120px;
    background-color: $light-gray;
    border-radius: 8px;
    position: relative;

    .edit-icon {
      position: absolute;
      right: -8%;
      top: -5%;
      background-color: $orange;
      padding: 5%;
      border-radius: 50%;

      &:hover {
        cursor: pointer;
      }
    }
  }

  .title {
    font-size: 3rem;
  }
}

.form-content {
  .properties-row{
    display: flex;
    flex-direction: column;

    .properties-row-header{
      position: relative;
      text-align: center;
      margin: 2% 0;
      font-size: 20px;
    }

    .properties-row-header:before {
      content: "";
      position: absolute;
      width: 45%;
      height: 2px;
      top: 50%;
      left: 0;
      background-color: $orange;
    }

    .properties-row-header:after {
      content: "";
      position: absolute;
      width: 45%;
      height: 2px;
      top: 50%;
      right: 0;
      background-color: $orange;
    }
  }

  .structure-properties {
    .dimension-row {
      display: flex;
      flex-direction: row;
      align-items: center;
      .form-field {
        width: 50%;
      }

      column-gap: 5%;
    }

    .polution-group, .power-cost {
      .si-value {
        width: 80%;
      }

      .si-unit {
        width: 20%;
      }
    }
  }

  .production-properties {
    .efficiency-group {
      display: flex;
      flex-direction: row;

      .si-percentage-value, .si-value {
        width: 45%;
      }

      .si-unit {
        width: 10%;
      }
    }
  }
}

.recipe-content {
  height: 56vh;
}

.btns-panel {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
    position: sticky;
    background-color: $light-gray;
    bottom: 0;
    padding: 1em;
}
