<div class="dialog-container">
  <div class="dialog-header">
    <div class="icon-selector">
      <img [src]="selectedIconUrl" alt="">
      <mat-icon *ngIf="selectedStep === 0" [matMenuTriggerFor]="menu" class="edit-icon">edit</mat-icon>
    </div>

    <mat-menu #menu="matMenu">
      <div tabindex="0" (click)="$event.stopPropagation()" class="menu-container">
        <mat-form-field appearance="outline">
          <mat-label>
            {{ 'ADMIN.DASHBOARD.ADD_NEW_ITEM.INSERT_ICON_URL' | translate }}
          </mat-label>

          <input type="text" matInput [(ngModel)]="selectedIconUrl">
        </mat-form-field>
      </div>
    </mat-menu>

    <p class="title">
      {{ isEditMode ? ('ADMIN.DASHBOARD.ADD_NEW_ITEM.EDIT_TITLE' | translate) :
      ('ADMIN.DASHBOARD.ADD_NEW_ITEM.TITLE' | translate) }}
    </p>
  </div>

  <mat-stepper [selectedIndex]="selectedStep" [linear]="false">
    <mat-step label="{{ 'ADMIN.DASHBOARD.ADD_NEW_ITEM.BASIC_STATS' | translate }}">
      <form [formGroup]="addItemForm">
        <article class="form-content">
          <div class="properties-row general-properties">
            <div class="properties-row-header">
              {{ 'ADMIN.DASHBOARD.ADD_NEW_ITEM.GENERAL' | translate}}
            </div>

            <mat-form-field class="form-field" appearance="outline">
              <mat-label>
                {{ 'GENERAL.NAME' | translate }}
              </mat-label>
              <input type="text" formControlName="name" matInput>
            </mat-form-field>

            <mat-form-field class="form-field" appearance="outline">
              <mat-label>
                {{ 'GENERAL.CATEGORY' | translate }}
              </mat-label>
              <mat-select formControlName="category">
                <mat-option [value]="category.id" *ngFor="let category of categories | async">
                  {{ category.name }}
                </mat-option>
              </mat-select>
            </mat-form-field>

            <mat-form-field class="form-field" appearance="outline">
              <mat-label>
                {{ 'GENERAL.STARS' | translate }}
              </mat-label>
              <input type="number" formControlName="stars" matInput>
            </mat-form-field>
          </div>

          <div class="properties-row structure-properties">
            <div class="properties-row-header">
              {{ 'ADMIN.DASHBOARD.ADD_NEW_ITEM.STRUCTURE' | translate}}
            </div>

            <div class="row dimension-row">
              <mat-form-field class="form-field" appearance="outline">
                <mat-label>
                  {{ 'GENERAL.HEIGHT' | translate }}
                </mat-label>
                <input type="number" formControlName="height" matInput>
              </mat-form-field>

              <mat-form-field class="form-field" appearance="outline">
                <mat-label>
                  {{ 'GENERAL.WIDTH' | translate }}
                </mat-label>
                <input type="number" formControlName="width" matInput>
              </mat-form-field>
            </div>

            <div class="row polution-group" formGroupName="polution">
              <mat-form-field class="form-field si-value" appearance="outline">
                <mat-label>
                  {{ 'GENERAL.POLUTION' | translate }}
                </mat-label>
                <input type="number" formControlName="value" matInput>
              </mat-form-field>

              <mat-form-field class="form-field si-unit" appearance="outline">
                <mat-label>
                  {{ 'GENERAL.TIME_UNIT' | translate }}
                </mat-label>
                <mat-select formControlName="unit">
                  <mat-option [value]="timeUnit.multiplier" *ngFor="let timeUnit of timeUnits | async">
                    {{ timeUnit.label }}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>

            <div class="power-cost" formGroupName="powerCost">
              <mat-form-field class="si-value form-field" appearance="outline">
                <mat-label>
                  {{ 'GENERAL.POWER_COST' | translate }}
                </mat-label>
                <input type="number" formControlName="value" matInput>
              </mat-form-field>

              <mat-form-field class="si-unit form-field" appearance="outline">
                <mat-label>
                  {{ 'GENERAL.UNIT' | translate }}
                </mat-label>
                <mat-select formControlName="unit">
                  <mat-option [value]="prefix.multiplier" *ngFor="let prefix of unitPrefixes | async">
                    {{ prefix.label !== 'none' ? (prefix.label + 'W') : 'W' }}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>

            <mat-form-field class="form-field" appearance="outline">
              <mat-label>
                {{ 'GENERAL.HEALTH' | translate }}
              </mat-label>
              <input type="number" formControlName="health" matInput>
            </mat-form-field>
          </div>

          <div class="properties-row production-properties">
            <div class="properties-row-header">
              {{ 'ADMIN.DASHBOARD.ADD_NEW_ITEM.PRODUCTION' | translate}}
            </div>

            <div class="row efficiency-group" formGroupName="efficiency">
              <mat-form-field class="si-percentage-value form-field" appearance="outline">
                <mat-label>
                  {{ 'GENERAL.PERCENTAGE' | translate }}
                </mat-label>
                <input type="number" formControlName="percentage" matInput>
                <span class="suffix" matSuffix>%</span>
              </mat-form-field>

              <mat-form-field class="si-value form-field" appearance="outline">
                <mat-label>
                  {{ 'GENERAL.EFFICIENCY' | translate }}
                </mat-label>
                <input type="number" formControlName="efficiency" matInput>
              </mat-form-field>

              <mat-form-field class="si-unit form-field" appearance="outline">
                <mat-label>
                  {{ 'GENERAL.UNIT' | translate }}
                </mat-label>
                <mat-select formControlName="unit">
                  <mat-option [value]="unit.multiplier" *ngFor="let unit of timeUnits | async">
                    {{ unit.label }}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
          </div>
        </article>
      </form>
    </mat-step>

    <mat-step label="{{ 'ADMIN.DASHBOARD.ADD_NEW_ITEM.BASIC_STATS' | translate }}">
      <article class="recipe-content">
        <app-create-recipe></app-create-recipe>
      </article>
    </mat-step>
  </mat-stepper>
</div>

<div class="btns-panel">
  <button (click)="goBack()" mat-button class="btn blue-btn prev">
    {{ 'GENERAL.PREVIOUS' | translate }}
  </button>

  <button mat-button (click)="submitForm()" class="btn green-btn">
    {{ 'GENERAL.SAVE_CHANGES' | translate }}
  </button>

  <button (click)="goForward()" mat-button class="btn blue-btn next">
    {{ 'GENERAL.NEXT' | translate }}
  </button>
</div>
