<div class="dialog-container">
  <div class="header">
    <div class="icon-selector">
      <mat-icon class="edit-icon">edit</mat-icon>
    </div>

    <p class="title">
      {{ 'ADMIN.DASHBOARD.ADD_NEW_ITEM.TITLE' | translate }}
    </p>
  </div>

  <mat-tab-group>
    <mat-tab label="{{ 'ADMIN.DASHBOARD.ADD_NEW_ITEM.BASIC_STATS' | translate }}">
      <div class="mat-tab-content">
        <form [formGroup]="addItemForm" (ngSubmit)="submitForm()">
          <article class="content">
            <div class="col left-col">
              <mat-form-field class="form-field" appearance="outline">
                <mat-label>
                  {{ 'GENERAL.NAME' | translate }}
                </mat-label>
                <input type="text" formControlName="name" matInput>
              </mat-form-field>


              <mat-form-field class="form-field" appearance="outline">
                <mat-label>
                  {{ 'GENERAL.CATEGORY' | translate }}
                </mat-label>
                <mat-select formControlName="category">
                  <mat-option [value]="category" *ngFor="let category of categories | async">
                    {{ category.name }}
                  </mat-option>
                </mat-select>
              </mat-form-field>

              <div class="row dimension-row">
                <mat-form-field class="form-field" appearance="outline">
                  <mat-label>
                    {{ 'GENERAL.HEIGHT' | translate }}
                  </mat-label>
                  <input type="number" formControlName="height" matInput>
                </mat-form-field>

                <mat-form-field class="form-field" appearance="outline">
                  <mat-label>
                    {{ 'GENERAL.WIDTH' | translate }}
                  </mat-label>
                  <input type="number" formControlName="width" matInput>
                </mat-form-field>
              </div>


              <div class="row polution-group" formGroupName="polution">
                <mat-form-field class="form-field" appearance="outline">
                  <mat-label>
                    {{ 'GENERAL.POLUTION' | translate }}
                  </mat-label>
                  <input type="number" formControlName="value" matInput>
                </mat-form-field>

                <mat-form-field class="form-field" appearance="outline">
                  <mat-label>
                    {{ 'GENERAL.TIME_UNIT' | translate }}
                  </mat-label>
                  <mat-select formControlName="timeUnit">
                    <mat-option [value]="timeUnit" *ngFor="let timeUnit of timeUnits | async">
                      {{ timeUnit }}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
            </div>

            <div class="col right-col">
              <div class="form-gap row">
                <mat-form-field class="health form-field" appearance="outline">
                  <mat-label>
                    {{ 'GENERAL.HEALTH' | translate }}
                  </mat-label>
                  <input type="number" formControlName="health" matInput>
                </mat-form-field>


                <div class="row power-cost form-gap" formGroupName="powerCost">
                  <mat-form-field class="value form-field" appearance="outline">
                    <mat-label>
                      {{ 'GENERAL.POWER_COST' | translate }}
                    </mat-label>
                    <input type="number" formControlName="value" matInput>
                  </mat-form-field>

                  <mat-form-field class="unit-prefix form-field" appearance="outline">
                    <mat-label>
                      {{ 'GENERAL.UNIT' | translate }}
                    </mat-label>
                    <mat-select formControlName="unit">
                      <mat-option [value]="prefix.multiplier" *ngFor="let prefix of unitPrefixes | async">
                        {{ prefix.label !== 'none' ? (prefix.label + 'W') : 'W' }}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
              </div>

              <div class="row efficiency" formGroupName="efficiency">
                <mat-form-field class="percentage form-field" appearance="outline">
                  <mat-label>
                    {{ 'GENERAL.PERCENTAGE' | translate }}
                  </mat-label>
                  <input type="number" formControlName="percentage" matInput>
                  <span class="suffix" matSuffix>%</span>
                </mat-form-field>

                <div class="value-per-time row form-gap">
                  <mat-form-field class="half-row form-field" appearance="outline">
                    <mat-label>
                      {{ 'GENERAL.EFFICIENCY' | translate }}
                    </mat-label>
                    <input type="number" formControlName="efficiency" matInput>
                  </mat-form-field>

                  <mat-form-field class="half-row form-field" appearance="outline">
                    <mat-label>
                      {{ 'GENERAL.UNIT' | translate }}
                    </mat-label>
                    <mat-select formControlName="unit">
                      <mat-option [value]="unit.multiplier" *ngFor="let unit of timeUnits | async">
                        {{ unit.label }}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
              </div>

              <mat-form-field class="form-field" appearance="outline">
                <mat-label>
                  {{ 'GENERAL.STARS' | translate }}
                </mat-label>
                <input type="number" formControlName="stars" matInput>
              </mat-form-field>
            </div>
          </article>

          <button mat-button type="submit" class="btn green-btn">
            {{ 'GENERAL.SAVE_CHANGES' | translate }}
          </button>
        </form>
      </div>
    </mat-tab>

    <mat-tab label="{{ 'GENERAL.RECIPE' | translate }}">

    </mat-tab>
  </mat-tab-group>
</div>
