@import '../../../../../scss/variables/color.scss';

.tab-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 4em;
  margin-top: 10%;

  .buttons {
    display: flex;
    margin-bottom: 1rem;

    .add-btn {
      color: $orange;
    }
  }
}
