@import '../../../../../scss/variables/color.scss';

.container {
  padding: 2rem;
  height: calc(100% - 4rem);

  .header {
    height: 10%;
    display: flex;
    flex-direction: row;
    align-items: center;
    column-gap: 2rem;

    .title {
      font-size: 36px;
      margin: 0;
    }

    .buttons {
      display: flex;
      column-gap: 2rem;

      .square-btn {
        border: 0;
        color: white;
        width: 5rem !important;
        height: 5rem !important;
        border-radius: 8px !important;
        padding: 0 !important;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        -webkit-box-shadow: 0px 3px 7px 1px rgba(0, 0, 0, 1);
        -moz-box-shadow: 0px 3px 7px 1px rgba(0, 0, 0, 1);
        box-shadow: 0px 3px 7px 1px rgba(0, 0, 0, 1);

        &:hover {
          cursor: pointer;
        }

        .mat-icon {
          margin-right: 0 !important;
        }
      }
    }
  }

  .content-containers {
    display: flex;
    flex-direction: row;
    padding-top: 4rem;

    width: 100%;
    height: calc(90% - 4rem);

    .content {
      height: 100%;
      width: 15%;
      display: flex;
      flex-direction: column;
      padding-left: 5rem;

      .list-title {
        font-size: 18px;
        margin-bottom: 1em !important;
      }

      .search-field {
        width: 100%;
      }

      .items-list {
        position: relative;
        overflow-y: scroll;
        width: 100%;
        border-radius: 8px;
        display: flex;
        flex-direction: column;
        background-color: $light-gray;

        .space {
          height: 5rem;
        }

        .item {
          display: flex;
          width: 100%;
          justify-content: space-between;
          align-items: center;
          padding: 1em 0;
          border-bottom: 1px solid $dark-gray;

          &:hover {
            cursor: pointer;
          }

          .menu-icon {
            width: 2rem;
            height: 2rem;
            font-size: 2rem;
          }
        }

        .selected-item {
          background-color: $dark-gray;
        }
      }
    }

    .preview-box-container {
      width: 50%;

      .content-box {
        width: 100%;
        height: 100%;
        border-radius: 8px;
        background-color: $dark-gray;
        -webkit-box-shadow: -1px 8px 36px -15px rgb(0, 0, 0);
        -moz-box-shadow: -1px 8px 36px -15px rgb(0, 0, 0);
        box-shadow: -1px 8px 36px -15px rgb(0, 0, 0);
      }
    }
  }
}

#item-menu{
  color: $orange !important;
}
