<section class="container">
  <div class="header">
    <p class="title">
      {{ 'ADMIN.DASHBOARD.TITLE' | translate }}
    </p>

    <div class="buttons">
      <button class="square-btn orange-btn">
        <mat-icon>restore</mat-icon>
        {{ 'ADMIN.DASHBOARD.BUTTONS.RESTORE_FACTORY' | translate }}
      </button>

      <button (click)="openAddItemDialog()" class="square-btn green-btn">
        <mat-icon>add_circle</mat-icon>
        {{ 'ADMIN.DASHBOARD.BUTTONS.ADD_ITEM' | translate }}
      </button>

      <button class="square-btn red-btn">
        <mat-icon>delete</mat-icon>
        {{ 'ADMIN.DASHBOARD.BUTTONS.REMOVE_ALL_ITEMS' | translate }}
      </button>
    </div>
  </div>

  <article class="content">
    <p class="list-title">
      {{ 'ADMIN.DASHBOARD.ALL_ITEMS' | translate }}
    </p>

    <div class="items-list">
      <div *ngFor="let item of getItems" class="item">
        {{ item }}

        <mat-icon>more_vert</mat-icon>
      </div>
    </div>
  </article>
</section>
