.col {
  display: flex;
  flex-direction: column;
}

.row {
  display: flex;
  flex-direction: row;
}

.form-gap {
  column-gap: 5%;
}

.half-row {
  width: 50%;
}
.cdk-overlay-container {
  max-height: 100% !important;
}

.relative {
  position: relative;
}

.p-h-1 {
  padding-left: 1em;
  padding-right: 1em;
}
