.icon-btn {
  display: flex;
  flex-direction: row;
  align-items: center;
  column-gap: 0.5rem;

  &:hover {
    cursor: pointer;
  }
}

.mdc-button {
  border: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.25rem 0.5rem;
  border-radius: 8px;
}

.green-btn,
.mdc-button {
  background-color: $green !important;
}

.blue-btn {
  background-color: $green-blue !important;
}

.orange-btn {
  background-color: $orange !important;
}

.red-btn {
  background-color: $red !important;
}

.btn-disabled {
  background-color: $light-gray !important;
  -webkit-box-shadow: inset 0px 0px 32px 6px rgba(35, 35, 35, 1);
  -moz-box-shadow: inset 0px 0px 32px 6px rgba(35, 35, 35, 1);
  box-shadow: inset 0px 0px 32px 6px rgba(35, 35, 35, 1);
}

.close-button {
  height: 32px;
  width: 32px;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url(../../assets/layout/close-btn-1.png);

  &:active {
    background-image: url(../../assets/layout/close-btn-2.png) !important;
  }
}
