.icon-btn {
  display: flex;
  flex-direction: row;
  align-items: center;
  column-gap: 0.5rem;

  &:hover {
    cursor: pointer;
  }
}

.mdc-button {
  border: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.25rem 0.5rem;
  border-radius: 8px;
}

.green-btn,
.mdc-button {
  background-color: $green !important;
}

.orange-btn {
  background-color: $orange;
}

.red-btn {
  background-color: $red;
}
