@import '../variables/color.scss';

.fullscreen-dialog {
  width: 90vw !important;
  height: 90vh !important;
  max-width: 100% !important;
  max-height: 100% !important;
  margin: 0 !important;
  padding: 0 !important;
}

.dialog-container {
  background-color: $dark-gray;
  width: 100%;
  height: 100%;
  padding: 4rem;
}

.mat-mdc-menu-content {
  padding: 1em !important;
  background-color: $dark-gray;
}
