@import '../variables/color.scss';

.fullscreen-dialog {
  width: 90vw !important;
  height: 90vh !important;
  max-width: 100% !important;
  max-height: 100% !important;
  margin: 0 !important;
  padding: 0 !important;
  background-color: $dark-gray;
}

.factorio-dialog {
  width: 30%;
  height: 60%;
  background-image: url('../../assets/layout/dialog-background.png') !important;
  background-repeat: no-repeat;
  background-size: cover;

  .dialog-content {
    padding: 4%;
  }
}

.mat-mdc-dialog-surface {
  z-index: 99999;
  overflow-x: hidden !important;
}

.mat-dialog-content {
  max-height: 100% !important;
}

.dialog-container {
  background-color: $dark-gray;
  width: calc(100% - 8rem);
  padding-top: 4rem !important;
  padding: 4rem;
}

.mat-mdc-menu-panel {
  border-radius: 0px !important;
  overflow: hidden !important;
}

.mat-mdc-menu-content {
  background-color: $dark-gray;
}

.mdc-list-item__primary-text {
  color: $orange !important;
}

.mat-mdc-dialog-container .mdc-dialog__surface {
  background: unset!important;
  background-color: unset !important;
}
