@import '../../../../../scss/variables/color.scss';

.patch-notes-header {
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: space-between;
  margin: 0;

  .patch-version {
    font-size: 10px;

    .version-number {
      color: $orange;
      font-size: 12px;
    }
  }
}

.list-header {
  color: $orange;
  margin: 0.5em 0;
}

.list {
  padding: 1em;
  margin: 0;

  .list-position {
    text-align: justify;
    font-size: 13px;
  }
}

