@import '../../../scss/variables/color.scss';

.left-menu-container {
  padding: 0 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  background-color: $dark-gray;

  .logo {
    margin-top: 2rem;
    margin-bottom: 4rem;
    width: 82px;
    height: 82px;

    img {
      width: 100%;
      height: 100%;
    }
  }

  .menu-items {
    display: flex;
    flex-direction: column;
    align-items: center;

    .menu-item {
      margin-bottom: 2rem;
      img {
        width: 100%;
        height: auto;
      }
    }
  }

}
