@use '@angular/material' as mat;
@import 'scss/variables/color.scss';
@import 'scss/tabs/tabs.scss';
@import 'scss/button/buttons.scss';
@import 'scss/table/table.scss';
@import 'scss/dialog/dialog.scss';
@import 'scss/input/inputs.scss';
@import 'scss/layout/layout.scss';
@import 'scss/stepper//stepper.scss';

@include mat.core();
$Factiorio-caclculator-primary: mat.define-palette(mat.$indigo-palette);
$Factiorio-caclculator-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);
$Factiorio-caclculator-warn: mat.define-palette(mat.$red-palette);
$Factiorio-caclculator-theme: mat.define-light-theme((color: (primary: $Factiorio-caclculator-primary,
        accent: $Factiorio-caclculator-accent,
        warn: $Factiorio-caclculator-warn,
      )));
@include mat.all-component-themes($Factiorio-caclculator-theme);

html,
body {
  height: 100vh;
}

body {
  margin: 0;
  font-family: 'Poppins', sans-serif !important;
  border: 0;
  padding: 0;
  color: $white;
  overflow-x: hidden;
}

p {
  margin: 0 !important;
}
