$dark-gray: #444444;
$light-gray: #616161;
$white: #FFFFFF;
$orange: #bb692f;

$orangeRGB: rgb(187, 105, 47);
$whiteRGB: rgb(255, 255, 255);
$light-grayRGB: rgb(120, 120, 120);
$dark-grayRGB: rgb(97, 97, 97);
