<section class="container">
  <div class="header">
    <p class="title">
      {{ 'ANALYTICS.TITLE' | translate }}
    </p>

    <mat-tab-group [selectedIndex]="tabIndex" class="tabs" (selectedIndexChange)="onTabIndexChange($event)">
      <mat-tab label="{{ 'ANALYTICS.TABS.TABLE' | translate }}">
        <ng-template matTabContent>
          <app-analytics-table></app-analytics-table>
        </ng-template>
      </mat-tab>

      <mat-tab label="{{ 'ANALYTICS.TABS.CHARTS' | translate }}">
        <ng-template matTabContent>
          <app-charts></app-charts>
        </ng-template>
      </mat-tab>
    </mat-tab-group>
  </div>
</section>
